* {
  margin: 2px;
}

body {
  background-color: black;
}

.Heading {
  color: white;
  text-align: center;
}

.Gallery {
  display: flex;

}

.Gallery img {
  border: 2px solid white;
  border-radius: 300px;
  height: 300px;
  width: 300px;
  margin: 20px;
}